<%= form_with(scope: :session, url: login_path, local: true) do |f| %> 
  <%= f.email_field :email, :placeholder => "Email" %> 
  <%= f.password_field :password, :placeholder => "Password" %> 
  <%= link_to "(forgot password)", new_password_reset_path %>
  <%= f.submit "Log in" %>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>