<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_field :title, placeholder: "Title of post..." %>
  </div>
  <div>
    <%= f.text_area :content, placeholder: "Content of post..." %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>